<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path("booking_index") }}">Domaine de Saint-Roch 🐶</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                {# TODO: Enlever le is granted quand la mise à jour du planning sera OK #}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path("booking_index") }}">Planning</span></a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path("video_index") }}">Les cours vidéos</a>
                </li> 
                <li class="nav-item">
                    {# TODO: Créer le système de prise de rendez-vous individuel #}
                    <a class="nav-link" href="{{ path("message_new", {'id' : app.user.id}) }}">Contactez le domaine</a>
                </li> 
            {% endif %}
            {# <li class="nav-item">
                <a class="nav-link" href="{{ path("planning") }}">Contact</a>
            </li> #}
        </ul>
         <ul class="navbar-nav ml-auto">
            {% if not app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_login") }}">Connexion</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_register") }}">Inscription</a>
                </li>  
            {% endif %}
        
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path("booking_index") }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {# TODO: Faire les badges de compte à valider #}
                        Administration <span class="badge badge-warning">{{notification.getUsersByEndContractSoon() + notification.getUsersCountNotValide() + notification.getMessageCount()}}</span>

                        {# TODO: A gérer quand il y aura des notifs #}
                        {# {% if fin de contrat == 0 and validation !== 0 %}
                            <span class="badge badge-succes">6</span>
                        {% else if validation == 0 and fin de contrat !== 0 %}
                            <span class="badge badge-danger">6</span>
                        {% else if validation !== 0 and fin de contrat !== 0%}
                            <span class="badge badge-warning">6</span>
                        {% endif %} #}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path("booking_overview") }}">Gestion du planning</a>

                        <a class="dropdown-item" href="{{ path("video_overview") }}">Gestion des vidéos</a>

                   
                        <div class="dropdown-divider"></div>
                        {# TODO: Tableau d'utilisateurs #}
                        <a class="dropdown-item" href="{{ path("user_index") }}">Les clients du Domaine</a>
                        {# TODO: Les futurs fins de contrats + badge #}
                        <a class="dropdown-item" href="{{ path("contract_index") }}">Les clients en fin de contrat <span class="badge badge-danger">{{notification.getUsersByEndContractSoon()}}</span></a>
                        {# TODO: Faire les badges de compte à valider + tableau de validation de compte#}
                        <a class="dropdown-item" href="{{ path("user_validation") }}">Les profils en attentent de validation <span class="badge badge-success">{{notification.getUsersCountNotValide()}}</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("message_index") }}">Mes messages <span class="badge badge-info">{{notification.getMessageCount()}}</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("category_index") }}">Les catégories</a>
                        {# TODO: Faire les badges de message #}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("user_show", {'id': app.user.id}) }}">Mon profil</a>
                    </div>
                </li>
            {% endif %}
       
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        {# TODO: Faire le formulaire d'ajout de cours #}
                        <a class="nav-link" href="{{ path("booking_new") }}">Ajouter un cours</a>
                    </li>    
                <li class="nav-item">
                    {# TODO: Créer le système de vidéo #}
                    <a class="nav-link" href="{{ path("video_new") }}">Ajouter une vidéo</a>
                </li> 
                {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("user_show", {'id': app.user.id}) }}">Mon profil</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        {# TODO: Enlever le is granted quand la mise à jour du planning sera OK #}
                            <li class="nav-item">
                                {# TODO: Faire les badges de compte à valider #}
                                <a class="nav-link" href="{{ path("booking_by_user", {'id': app.user.id}) }}">Mes cours</a>
                            </li>  
                        {% endif %}
                  
                       
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_logout") }}">Déconnexion</a>
                </li>
            {% endif %}
         </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <form class="form-inline my-2 my-lg-0">
                {# //TODO Créer un filtre de recherche des utilisateurs #}
                <input class="form-control mr-sm-2" type="text" placeholder="Cherche un utilisateur">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        {% endif %}
    </div>
</nav>