{% extends 'base.html.twig' %}

{% block title %}Administration des évènements{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Administration des évènements</h1>

        <table id="" class="table tableOverview">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Évenement</th>
                <th scope="col">Type</th>
                <th scope="col">Emplacement</th>

                <th><a href="{{ path('booking_new') }}"><button class="btn btn-success">+</button></a></th>
            </tr>
            </thead>
            {% for booking in bookings %}
                <tr>
                    <th scope="row">{{ booking.id }}</th>
                    <td>{{ booking.title }}</td>
                    <td>{{ booking.category }}</td>
                    <td>{{ booking.place }}</td>

                    <td>
                       <a href="{{ path('booking_edit', {'id': booking.id}) }}"><span class="blue">Modifier</span></a><br>
                       <a href="{{ path('booking_delete', {'id': booking.id}) }}"><span class="red">Supprimer</span></a><br>

                        {# {{ include('booking/_delete_form.html.twig') }} #}
                        {# <form action="#" method="POST" name="formEdit">
                            <input type="hidden" name="program_id" value="{{program.id}}">
                            <a href="{{ path('program_edit', {'id' : program.id }) }}" class="btn btn-primary" name="editProgram">Edit</a>
                            <button type="submit" class="btn btn-danger" name="deleteProgram">Delete</button>
                        </form>        #}
                    </td>
                </tr>
            {% endfor %}
        </table>


    
    </div>

{% endblock %}

