{% extends 'base.html.twig' %}

{% block title %}Les clients inscrits au Domaine de Saint-Roch 🐾{% endblock %}

{% block body %}
    <div class="container mt-5">
    <h1>Les clients inscrits au Domaine de Saint-Roch 🐾</h1>
        <div class="table-responsive mt-5">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th class="th-lg">Prénom</th>
                    <th class="th-lg">Nom de famille</th>
                    <th class="th-lg">Nom du chien</th>
                    <th class="th-lg">Race du chien</th>
                    <th class="th-lg">Fin de contrat</th>
                    {# <th><a href="{{ path('user_new') }}">Create new</a></th> #}
                </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            {% for dog in user.dog %}
                                <td>{{ dog }}</td>
                            {% endfor %}

                            {% for contract in user.contract %}
                                <td><a href="{{ path('user_show', {'id': user.id}) }}">{{contract}}</a></td>
                            {% endfor %}
                            {# <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>{{ user.password }}</td>
                            <td>{{ user.validation ? 'Yes' : 'No' }}</td> #}
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}"><span class="red">Regarder</span></a><br>
                                <a href="{{ path('user_edit', {'id': user.id}) }}"><span class="blue">Modifier</span></a><br>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Aucun utilisateur inscrit</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
